# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Entornos virtuales
venv/
.env/
.env.local

# Datos sensibles o pesados
data/raw/
data/processed/
data/synthetic/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node (si usan React o frontend)
node_modules/
build/
dist/
